body {
    font-family: 'Raleway', 'Open-Sans', sans-serif;
    overflow-x: hidden;
}
.header {
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    background: rgba(0, 0, 0, .05);
    background-image: url('../images/2048.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 580px;
    position: relative;
}
.blur::before{
    content: " ";
    background: inherit; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.3);
    filter: blur(3px);
}
.header-main {
    width: 100%;
    top: 30%;
    position: absolute;
    text-align: center;
    z-index: 100;
}
.header-main h1 {
    width: auto;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
.header-main p {
    width: auto;
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
.header-main a {
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    margin-top: 40px;
}
.header-main a:focus, .header-main a::after {
    border: none;
    outline: none;
    text-decoration: none;
}
.navbar {
    width: 100%;
    top: 0%;
    padding: .5rem 1rem;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.absolute {
    position: absolute;
}
.sticky-top, .fixed-top {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
.navbar-light .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
.navbar-light .navbar-brand {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
.fixed-top .navbar-nav .nav-link, .sticky-top .navbar-nav .nav-link, .sticky-top .navbar-brand, .fixed-top .navbar-brand {
    color: #222;
    text-shadow: none;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #60c9eb;
}
.colored {
    color: #60c9eb;
}
.section-wrapper {
    padding: 50px 0px;
}
.section-title {
    text-align: center;
    padding-bottom: 20px;
}
.section-main {
    padding: 30px;
}
.form-row {
    margin: 0 auto;
}
.card {
    margin-bottom: 20px;
}
.card, .card-img-top, .form-control, .btn, .input-group-text, .custom-select {
    border-radius: 0px;
}
.card-icon, .card-title, .card-detail {
    text-align: center;
}
.card-icon {
    padding: 20px 0;
    font-size: 35px;
    color: #60c9eb;
}
.posts h3 a {
    display: block;
    font-weight: bold;
    color: #222;
    font-size: 1.4rem;
    text-align: left;
}
.card-title {
    padding-bottom: 30px;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}
a.card-title {
    display: block;
    font-size: 16px;
    color: #222;
    padding-bottom: 10px;
    text-align: left;
}
a.card-title:hover, .posts h3 a:hover {
    color: #60c9eb;
    text-decoration: none;
}
.post-main .card {
    min-height: 370px;
}
.card-detail {
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 170%;
}
.card-text {
    font-weight: 300;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.contact .card {
    margin: 30px;
    padding: 30px 10px;
    background: #f5f5f5;
    background-clip: border-box;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.contact .icon {
    position: relative;
    width: 90px;
    height: 90px;
    border: 2px solid #60c9eb;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: table;
    margin: 0 auto;
    margin-bottom: 30px;
}
.contact .icon i {
    color: #60c9eb;
    font-size: 48px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.contact .details {
    text-align: center;
}
.contact .details .title {
    font-weight: bold;
}
.contact .details p {
    margin-bottom: .3rem;
}
footer {
    background: #60c9eb;
    color: #222;
}
footer .footer-content {
    padding: 20px 0px;
}
footer .footer-col .title {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
footer .footer-col a {
    color: #00455c;
}
footer .copyright {
    background: #444;
    color: #b3b3b3;
    font-size: 14px;
    padding: 15px 0;
}
.copyright p {
    margin: 0px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
footer .footer-col li {
    margin-bottom: 5px;
}
footer .footer-col .fa {
    margin-right: 5px;
}
footer .footer-col.contact p {
    color: #00455c;
}

section.post-thumbnail {
    width: 100%;
    min-height: 450px;
    background-size: 100%;
    background-position: center bottom;
    position: relative;
}
section.post-thumbnail::before{
    content: " ";
    background: rgba(0, 0, 0, .5); 
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
}
div.post-title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
}
div.post-title h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .7);
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    width: 100%;
    top: 18%;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}